<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Trang chủ</title>
</head>
<body>
    <h1 classs="center">CONVERT SUDOKU IMAGE TO ARRAY</h1>
    <div classs="center">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file() }}
            {{ form.submit() }}
        </form>
        {% if grid is defined %}
            <div>
                <table>
                    {% for row in grid %}
                        <tr>
                        {% for cell in row %}
                            <td>{{ cell }}, </td>
                        {% endfor %}
                        </tr>
                    {% endfor %} 
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>